body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #f4f4f4;
}

#network-status {
  color: red;
  font-weight: bold;
}

#mapCanvas {
  border: 1px solid #000;
  margin-top: 20px;
}
